:root {

  // theme colors
  --main-color: #D41443;
  --second-color: #FFA5BA;

  //  text colors
  --primary-text: #000;
  --secondary-text: #907E82;

  // fonts
  --primary-font: 'DM Sans';
  --secondary-font: 'Titan One';

  // cubic
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}