<section class="section section-about section--other-bcg" id="about">
  <div class="container">
    <p class="text">tradition and love</p>
    <h2 class="section__title section-about__title">how it’s made?</h2>
    <div class="about">
      <picture>
        <source srcset="./images/mobile/cow_mob_280@1x.png 280w, ./images/mobile/cow_mob_280@2x.png 560w"
          media="(max-width: 767px)" sizes="(max-width: 767px) 280px, 100vw">

        <source srcset="./images/tablet/cow_tab_340@1x.png 340w, ./images/tablet/cow_tab_340@2x.png 680w"
          media="(min-width: 768px) and (max-width: 1279px)" sizes="(min-width: 768px) 340px, 100vw">

        <source srcset="./images/desktop/cow_dt_516@1x.png 516w, ./images/desktop/cow_dt_516@2x.png 1032w"
          media="(min-width: 1280px)" sizes="(min-width: 1280px) 516px, 100vw">

        <img 
          src="./images/mobile/cow_mob_280@1x.png" 
          alt="Cow and Bio Eco milk" 
          class="about__pic">
      </picture>

      <div class="about__text-wrap">
        <p class="description description--black">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
          justo cursus, faucibus lorem eget, egestas eros.
          Maecenas eleifend erat at justo fringilla.</p>

        <p class="description description--grey">Curabitur lacinia enim at ex blandit, vel pellentesque odio
          elementum. Mauris rhoncus orci in imperdiet placerat.
          Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. <br>
          <br>
          Aliquam erat volutpat. Aenean accumsan.
        </p>
      
        <button type="button" class="about__button" data-modal-open>Read more
          <svg class="about__button-icon" width="10px" height="15px">
            <use href="/images/icons.svg#icon-arrow"></use>
          </svg>
        </button>

        <div class="about__backdrop about__backdrop--is-hidden" data-modal>
          <div class="about__modal about__modal--open section--other-bcg">
            <button class="about__close-button" data-modal-close>
              <svg class="about__close-button-logo" width="25px" height="25px">
                <use href="/images/icons.svg#icon-close"></use>
              </svg>
            </button>
            <div>
              <h3 class="advantages__title about__modal-title">The highest quality</h3>
              <h4 class="description description--black about__modal-text">Eco product</h4>
              <p class="description  about__modal-description">The farm produces dairy products such as milk, kefir of various fats, sour cream and fermented milk every day, and plans
              to launch yogurt, butter, soft cheeses, etc. soon. The production process on the farm meets the requirements of
              international standards of the food safety management system DSTU ISO 22000</p>
              <h4 class="description description--black about__modal-text">Nutrients</h4>
              <p class="description  about__modal-description">Vitamins A, B, B2, C, minerals, easily digestible proteins, fats and carbohydrates.</p>
             
            </div>
      </div>

    </div>

  </div>
  </div>

  </div>
</section>