<section class="section section-about">
  <div class="container section-about__container">
    <p class="text section-about__text">tradition and love</p>
    <h2 class="section__title">how it’s made?</h2>
    <picture>
      <source>
      <source>
      <source>
      <img src="" alt="">
    </picture>
    <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
    Maecenas eleifend erat at justo fringilla.</p>
    <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
    </p>
    <p>Aliquam erat volutpat. Aenean accumsan.</p>
    <button type="button" class="section-about__botton">Read more</button>
    
  </div>
</section>