<section class="section section--other-bcg section--no-padding-top">
<div class="container">
  <h2 class="visually-hidden"></h2>
  <ul class="advantages-list">
    <li class="advantages-list__item">
      <img 
        srcset="./images/advantages_icon1@1x.png 1x, ./images/advantages_icon1@2x.png 2x"
        src="./images/advantages_icon1@1x.png"
        alt="Bucket of milk"
        class="advantages-list__pic">
      <h3 class="advantages-list__numbers">721</h3>
      <p class="description description--black">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages-list__item">
      <img 
        srcset="./images/advantages_icon2@1x.png 1x, ./images/advantages_icon2@2x.png 2x"
        src="./images/advantages_icon2@1x.png" 
        alt="Bucket of apples"
        class="advantages-list__pic">
      <h3 class="advantages-list__numbers">16kg</h3>
      <p class="description description--black">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages-list__item">
      <img 
        srcset="./images/advantages_icon3@1x.png 1x, ./images/advantages_icon3@2x.png 2x"
        src="./images/advantages_icon3@1x.png" 
        alt="Lollipop in the form of heart"
        class="advantages-list__pic">
      <h3 class="advantages-list__numbers">84</h3>
      <p class="description description--black">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</div>
</section>