<section class="section">
<div class="container">
  <div class="image-slider swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
       <div class="image">
          <picture class="slide-image">
            <source srcset=" ./images/customer_85@1x.jpg 1x ./images/customer_85@2x.jpg 2x">
            <img src="./images/customer_85@1x.jpg" alt="Emily">
          </picture>
        </div>
          <div class="slide__text-box">
            <svg class="slide__icon" width="54px" height="40px">
              <use href="./images/icons.svg#icon-comma"></use>
            </svg>
            <p class="slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
          </div>
          <p class="slide__name">Emily, Los Angeles</p>
 </div>
<div class="swiper-slide">
       <div class="image">
          <picture class="slide-image">
            <source srcset=" ./images/customer_85@1x.jpg 1x ./images/customer_85@2x.jpg 2x">
            <img src="./images/customer_85@1x.jpg" alt="Emily">
          </picture>
        </div>
          <div class="slide__text-box">
            <svg class="slide__icon" width="54px" height="40px">
              <use href="./images/icons.svg#icon-comma"></use>
            </svg>
            <p class="slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
          </div>
          <p class="slide__name">Emily, Los Angeles</p>
 </div>
 <div class="swiper-slide">
       <div class="image">
          <picture class="slide-image">
            <source srcset=" ./images/customer_85@1x.jpg 1x ./images/customer_85@2x.jpg 2x">
            <img src="./images/customer_85@1x.jpg" alt="Emily">
          </picture>
        </div>
          <div class="slide__text-box">
            <svg class="slide__icon" width="54px" height="40px">
              <use href="./images/icons.svg#icon-comma"></use>
            </svg>
            <p class="slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
          </div>
          <p class="slide__name">Emily, Los Angeles</p>
 </div>
    </div>
    </div>
  </div>
</section>