<section>
  <div class="container">
    <div class="rev-slider">
      <ul class="rev-slider__slide">
        <li class="slide__item">
          <picture class="slide-image">
            <source srcset=" ./images/customer_85@1x.jpg 1x ./images/customer_85@2x.jpg 2x">
            <img src="./images/customer_85@1x.jpg" alt="Emily">
          </picture>
        </li>
        <li class="slide__item">
          <div class="slide__text-box">
            <svg class="slide__icon" width="54px" height="40px">
              <use href="./images/icons.svg#icon-comma"></use>
            </svg>
            <p class="slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
          </div>
        </li>
          <ul class="slide___points">
            <li class="points__item"></li>
            <li class="points__item"></li>
            <li class="points__item"></li>
          </ul>
        <li class="slide__item">
          <p class="slide__name">Emily, Los Angeles</p>
        </li>
      </ul>
      <ul class="rev-slider__slide">
        <li class="slide__item">
          <picture class="slide-image">
            <source srcset=" ./images/customer2_85@1x.jpg 1x ./images/customer2_85@2x.jpg 2x">
            <img src="./images/customer2_85@1x.jpg" alt="Emily">
          </picture>
        </li>
        <li class="slide__item">
          <div class="slide__text-box">
            <svg class="slide__icon" width="54px" height="40px">
              <use href="./images/icons.svg#icon-comma"></use>
            </svg>
            <p class="slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.</p>
          </div>
        </li>
        <ul class="slide___points">
          <li class="points__item"></li>
          <li class="points__item"></li>
          <li class="points__item"></li>
        </ul>
        <li class="slide__item">
          <p class="slide__name">Kate, Chicago</p>
        </li>
      </ul>
      <ul class="rev-slider__slide">
        <li class="slide__item">
          <picture class="slide-image">
            <source srcset=" ./images/customer3_85@1x.jpg 1x ./images/customer3_85@2x.jpg 2x">
            <img src="./images/customer3_85@1x.jpg" alt="Emily">
          </picture>
        </li>
        <li class="slide__item">
          <div class="slide__text-box">
            <svg class="slide__icon" width="54px" height="40px">
              <use href="./images/icons.svg#icon-comma"></use>
            </svg>
            <p class="slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.</p>
          </div>
        </li>
        <ul class="slide__item slide___points">
          <li class="points__item"></li>
          <li class="points__item"></li>
          <li class="points__item"></li>
        </ul>
        <li class="slide__item">
          <p class="slide__name">Mary, New York</p>
        </li>
      </ul>
    </div>
  </div>
</section>