<section class="section">
  <div class="container">
    <div class="swiper">
      <div class="image-slider">
        <!-- оболочка -->
        <div class="swiper-wrapper">
          <!-- контент -->
          <div class="swiper-slide">
            <div class="image-box">
              <picture class="slide-image">
                <source srcset=" ./images/customer_85@1x.jpg 1x ./images/customer_85@2x.jpg 2x">
                <img src="./images/customer_85@1x.jpg" alt="Emily">
              </picture>
            </div>
            <div class="slide__text-box">
              <svg class="slide__icon" width="54px" height="40px">
                <use href="./images/icons.svg#icon-comma"></use>
              </svg>
              <p class="slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="slide__dots">
              <div class="slide__dot"></div>
              <div class="slide__dot"></div>
              <div class="slide__dot"></div>
            </div>
            <p class="slide__name">Emily, Los Angeles</p>
          </div>
          <!-- контент -->
          <div class="swiper-slide">
            <div class="image-box">
              <picture class="slide-image">
                <source srcset=" ./images/customer2_85@1x.jpg 1x ./images/customer2_85@2x.jpg 2x">
                <img src="./images/customer2_85@1x.jpg" alt="Katy">
              </picture>
            </div>
            <div class="slide__text-box">
              <svg class="slide__icon" width="54px" height="40px">
                <use href="./images/icons.svg#icon-comma"></use>
              </svg>
              <p class="slide__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Lorem ipsum primis in nibh vel risus.</p>
            </div>
            <div class="slide__dots">
              <div class="slide__dot"></div>
              <div class="slide__dot"></div>
              <div class="slide__dot"></div>
            </div>
            <p class="slide__name">Katy, Chicago</p>
          </div>
          <!-- контент -->
          <div class="swiper-slide">
            <div class="image-box">
              <picture class="slide-image">
                <source srcset=" ./images/customer3_85@1x.jpg 1x ./images/customer3_85@2x.jpg 2x">
                <img src="./images/customer3_85@1x.jpg" alt="Mary">
              </picture>
            </div>
            <div class="slide__text-box">
              <svg class="slide__icon" width="54px" height="40px">
                <use href="./images/icons.svg#icon-comma"></use>
              </svg>
              <p class="slide__text">Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.</p>
            </div>
            <div class="slide__dots">
              <div class="slide__dot"></div>
              <div class="slide__dot"></div>
              <div class="slide__dot"></div>
            </div>
            <p class="slide__name">Mary, New York</p>
          </div>
        </div>
        <!-- навигация -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>