 <footer class="page-footer">
        <div class="container container__page-footer">
          <p class="page-footer__text-big text">homemade ice cream made</p>
          <p class="page-footer__text-md text">with passion</p>
                <address class="address">
                <a href="tel:+610383766284" class="address__link phone">Feel free to contact <span class="phone__content">+61 (0) 383 766 284</a>
                </address>
                <div class="page-footer__social-thumb">
                  <ul class="social">
                    <li class="social__item">
                      <a href="https://github.com/" target="_blank" class="social__link">
                        <svg class="social__icon">
                          <use href="./images/icons.svg#icon-arrow"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social__item">
                      <a href="https://web.telegram.org/k/" target="_blank" class="social__link">
                        <svg class="social__icon">
                          <use href="./images/icons.svg#icon-comma"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social__item">
                      <a href="https://www.facebook.com/" target="_blank" class="social__link">
                        <svg class="social__icon">
                          <use href="./images/icons.svg#icon-arrow-right"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                    <p class="page-footer__copyright">&#169 2019 - IceCream. All Rights Reserved</p>
                </div>
              </div>
              </footer>