.advantages {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.advantages__item:not(:last-child) {
  @media screen and (max-width: $mobile) {
    margin-bottom: 38px;
  }

  @media screen and (min-width: 768px) and (max-width: $tablet) {
    margin-right: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.advantages__item {
  width: 230px;

  @media screen and (min-width: 768px) and (max-width: $tablet) {
    width: 180px;
  }

  @media screen and (min-width: $desktop) {
    width: 330px;
  }
}

.advantages__item::before {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) and (max-width: $tablet) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }
}

.advantages__item:nth-child(1)::before {
  content: '';
  display: block;
  // width: 33px;
  height: 50px;
  background-image: url(../images/advantages_icon1@1x.png);
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/advantages_icon1@2x.png);
  }
}

.advantages__item:nth-child(2)::before {
  content: '';
  display: block;
  // width: 33px;
  height: 50px;
  background-image: url(../images/advantages_icon2@1x.png);
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/advantages_icon2@2x.png);
  }
}

.advantages__item:nth-child(3)::before {
  content: '';
  display: block;
  // width: 33px;
  height: 50px;
  background-image: url(../images/advantages_icon3@1x.png);
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/advantages_icon3@2x.png);
  }
}

.advantages__title {
  margin-bottom: 16px;

  font-family: var(--secondary-font);
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-color);

  @media screen and (min-width: 768px) and (max-width: $tablet) {
    margin-bottom: 13px;

    font-size: 48px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;

    font-size: 58px;
  }
}

.advantages__text {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--primary-text);

  @media screen and (min-width: 768px) and (max-width: $tablet) {
    font-size: 14px;
    line-height: 1.74;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}