.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.image-box {
  margin-bottom: 15px;
}

.slide-image {
  display: flex;
  justify-content: center;
}

.slide__text-box {
  position: relative;
  max-width: 926px;
  padding: 45px 85px;
  background: #FAFAFA;
  margin-bottom: 15px;
}

.slide__icon {
  position: absolute;
  top: 32px;
  left: 50px;
  fill: #E1E1E1;
  z-index: 2;
}

.slide__text {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
  z-index: 3;
  background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 28px, #E1E1E1 28px, transparent 29px);
}

.slide__dots {
  display: flex;

  .slide__dot {
    width: 4px;
    height: 4px;
    background: #C7133E;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.slide__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
  color: #000000;
  margin-top: 15px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #D9D9D9;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-image: url(../images/home.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: initial;
  border-radius: 0;
}